@font-face {
    font-family: yekan;
    src: url(../fonts/Yekan.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: yekan-b;
    src: url(../fonts/Yekan-Bold.ttf) format(truetype);
    font-size: bold;
}

* {
    direction: rtl;
    font-family: yekan, serif !important;
    font-size: 100%;
}

.font-head {
    font-size: 2rem;
    font-weight: bold;
}

@media(max-width:768px) {
    .hide {
        display: none;
    }

    .margin {
        margin-right: 1.5rem;
    }
}

@media(min-width: 768px) {
    .left-shadow {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
        clip-path: inset(-5px 0px -5px -5px);
    }

    .right-shadow {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
        clip-path: inset(-5px -5px -5px 0px);
    }

    .round.right {
        border-radius: 0px 10px 10px 0px;
    }

    .round-left {
        border-radius: 10px 0 0 10px;
    }
}

@media(max-width: 768px) {
    .left-shadow {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    }

    .right-shadow {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
    }

    .round-right, .round-left {
        border-radius: 10px;
    }
}



.color {
    background-color: rgb(207, 204, 204);
}

@media(max-width:1000px) {
    .justify {
        justify-content: start;
    }
}

@media(min-width:1000px) {
    .justify {
        justify-content: center;
    }
}